.content {
	figure {
		width: 100%;
		height: 300px;
		background: gray;
	}

	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto;
		position: relative;
		transform: translateY(100px);
		opacity: 0;
		transition: 1s;
	}

	&.on {
		> .inner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

//table
@media screen and (max-width: $tablet) {
	.content {
		figre {
			height: 200px;
		}
		> .inner {
			width: 100%;
			margin: 80px auto;
			padding: 0px 30px;
		}
	}
}

//mp
@media screen and (max-width: $mp) {
	.content {
		figre {
			height: 150px;
		}
	}
}
