#news {
  width: 100%;
  height: 100vh;
  text-align: center;

  h2 {
    margin: 20px 0;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    article {
      width: 15%;
      background: #fff;
      min-height: 180px;
      border-radius: 40px;
      padding: 20px;
      margin: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

      h2 {
        font: 16px/1 "arial";
        color: #ccc;
        margin-bottom: 20px;
      }

      p {
        font: 12px/1 "arial";
        color: #777;
      }
    }
  }
}
