.Location {
  figure {
    background: lightgreen;
  }

  #map {
    width: 100%;
    height: 400px;
    background: #000;
  }

  .btnSet {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer;
      border: 1px solid #888;
      padding: 5px 20px;
      color: #555;
      height: 30px;
      font: 14px/1 "arial";
    }

    ul {
      display: flex;
      gap: 5px;

      li {
        cursor: pointer;
        border: 1px solid #888;
        height: 30px;
        padding: 5px 20px;
        color: #555;
        transition: 0.5s;

        &.on {
          background: #555;
          border: 1px solid #555;
          color: #fff;
        }
      }
    }
  }
}
